.cards {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  @include breakpoints(small) {
    grid-template-columns: repeat(2,1fr);
  }
  @include breakpoints(very-small) {
    grid-template-columns: repeat(1,1fr);
  }

  > * {
    height: 50rem;
    position: relative;
    transition: all 0.2s ease;
    &:hover {
      transform: translateY(-20px);
      & > *::before {
        content: "";
        height: 5px;
        width: 100%;
        background-image: linear-gradient(90deg, #5a77ff, #bc7198, #ffc593);
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__text {
    position: absolute;
    bottom: 0;
    padding: 50px;
    width: 100%;
    h3,
    p {
      color: $c-white;
      line-height: 30px;
    }
    span {
      width: 100%;
      height: 2px;
      margin: 20px 0px;
      display: block;
      background-color: $c-white;
      opacity: 0.3;
    }
  }

  &__read-story {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  $urls: (
      1: "mountains",
      2: "cityscapes",
      3: "18-days-voyage",
      4: "architecturals",
      5: "world-tour",
      6: "unforeseen-corners",
      7: "king-on-africa",
      8: "trip-to-nowhere",
      9: "rage-of-the-sea",
      10: "running-free",
      11: "behind-the-waves",
      12: "calm-waters",
      13: "milky-way",
      14: "dark-forest",
      15: "somwarpet",
      16: "land-of-dreams"
    );
    @each $num,$url in $urls {
    &__#{$num} {
      background-image: linear-gradient(#0000, #000),
        url(../assets/stories/desktop/#{$url}.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
